<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates! Form</title>
  </head>
  <body>

    <p>
      <p><h1>Pirate Name: <%= @pirate.name %></h1></p>
      <p><h1>Pirate Weight: <%= @pirate.weight %></h1></p>
      <p><h1>Pirate Height: <%= @pirate.height %></h1></p>
    </p>


      <% @ships.each do |ship| %>
    <p><h2>Ship Name: <%= ship.name %></h2></p>
    <p><h2>Ship Type: <%= ship.type %></h2></p>
    <p><h2>Ship Booty: <%= ship.booty %></h2></p>
      <% end %>


  </body>
</html>
